.btn{
    width: 276px;
    height: 73px;
    text-align: center;
    background-color: #C82625;
    padding: 26px 40px;
    font-family: "Intro Demo Black Caps";
    font-weight: 900;
    color: white;
    border-radius: 4px;
}